/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Avenir-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Avenir-Book.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  src: url("..//fonts/Avenir-Heavy.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Avenir-Black.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

body {
  font-family: "Avenir";
  margin: 0;
  padding: 0;
  background-color: #040714;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header_btn__box {
  position: absolute;
  top: 10px;
  right: 41px;
}

.header_btn {
  padding: 14px 15px;
  border-radius: 4px;
  border: 1px solid #C0C0C0;
  background: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #F9F9F9;
}

.home {
  padding: 139px 0;
  background-image: url("../../img/home_background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.home_block {
  max-width: 639px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #C0C0C0;
}

.home_block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-bottom: 49px;
}

.home_box__btn {
  max-width: 307px;
  width: 100%;
  padding-top: 117px;
  background-repeat: no-repeat;
  background-position: 0 28.8px;
  background-size: 100%;
}
.home_box__btn:nth-child(1) {
  background-image: url("../../img/get-them-both.png");
}
.home_box__btn:nth-child(2) {
  background-image: url("../../img/get-all-three.png");
}
.home_box__btn:nth-child(2) .home_btn {
  padding: 19px 0 18px 0;
}

.home_btn {
  width: 100%;
  background-color: #0063E5;
  padding: 19px 0 18px 0;
  border: 2px solid #0063E5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #F9F9F9;
}

.home_btn:hover {
  background-color: rgba(0, 99, 229, 0.2);
}

.home_streaming {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
}

.home_apply {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.2px;
  padding-bottom: 94px;
  background: url("../../img/company.png") no-repeat center;
}

.home_span {
  color: #F9F9F9;
}

.home_options {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 680px) {
  .home {
    background-size: cover;
    padding: 88px 0;
  }
  .home_block__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_box__btn {
    padding-top: 93px;
    background-position: top 0 left 0;
  }
  .home_box__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .home_apply {
    background-image: none;
    padding: 0;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 380px) {
  .home {
    padding: 100px 0;
  }
  .home_btn {
    font-size: 15px;
  }
  .home_box__btn {
    padding-top: 83px;
  }
}
.collection {
  padding: 53px 0 29px 0;
}

.collection_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.collection_link__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  text-align: center;
}

.collection_link:nth-child(1) {
  border-bottom: 5px solid #F9F9F9;
}

.collection_link {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #F9F9F9;
}

.collection_movie__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.collection_movie {
  display: inline-block;
  max-width: 410px;
  max-height: 246px;
}

.rates {
  padding: 26px 0 144px 0;
}

.rates_block {
  text-align: center;
}

.rates_title {
  font-weight: 800;
  font-size: 43px;
  line-height: 54px;
  color: #F9F9F9;
  margin-bottom: 8px;
}

.rates_choice {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #C0C0C0;
  margin-bottom: 26px;
}

.rates_checkbox__block {
  max-width: 236px;
  width: 100%;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rates_checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: #2B2D37;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.rates_checkbox::after {
  content: "Disney Bundle";
}

.rates_checkbox::before {
  content: "Disney+";
}

.rates_checkbox::before,
.rates_checkbox::after {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #F9F9F9;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
  cursor: pointer;
}

.rates_checkbox::after {
  left: 21px;
}

.rates_checkbox::before {
  right: 21px;
}

.rates_label {
  width: 135px;
  height: 38px;
  border-radius: 21px;
  background-color: #0063E5;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 5px;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rates_checkbox:not(:checked) + .rates_label {
  width: 91px;
  left: 139px;
}

.rates_block {
  margin-bottom: 24px;
}

.rates_card__block {
  margin-bottom: 15px;
}

.rates_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rates_item {
  max-width: 380px;
  width: 100%;
  padding: 41px 45px;
  border: 1px solid #C0C0C0;
}

.rates_item:nth-child(1) .rates_content {
  margin-bottom: 114px;
}

.rates_item:nth-child(2) .rates_content {
  margin-bottom: 54px;
}

.rates_item:nth-child(3) .rates_content {
  margin-bottom: 24px;
}

.rates_content::before {
  margin-bottom: 27px;
}

.rates_item:nth-child(1) .rates_content::before {
  content: "";
  max-width: 173px;
  width: 100%;
  height: 40px;
  display: inline-block;
  background-image: url("../../img/get-them-both.png");
  background-repeat: no-repeat;
  background-position: center;
}

.rates_item:nth-child(2) .rates_content::before {
  content: "";
  max-width: 172.5px;
  width: 100%;
  height: 40px;
  display: inline-block;
  background-image: url("../../img/get-all-three.png");
  background-repeat: no-repeat;
  background-position: center;
}

.rates_item:nth-child(3) .rates_content::before {
  content: "";
  max-width: 172.5px;
  width: 100%;
  height: 40px;
  display: inline-block;
  background-image: url("../../img/get-all-three.png");
  background-repeat: no-repeat;
  background-position: center;
}

.rates_title__plan {
  font-weight: 800;
  font-size: 27px;
  line-height: 38px;
  color: #F9F9F9;
  margin-bottom: 16px;
}

.rates_title__span {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: block;
}

.rates_plan__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rates_plan__box::before {
  content: "";
  width: 18px;
  height: 15px;
  display: inline-block;
  background-image: url("../../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 9.5px;
  margin-top: 3.25px;
}

.rates_content .rates_plan__box:not(:last-child) {
  margin-bottom: 8px;
}

.rates_descriptions__plan {
  max-width: 250px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #C0C0C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rates_price {
  padding: 16px 0;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #F9F9F9;
}

.rates_price__span {
  font-weight: 400;
  font-size: 16px;
  color: #C0C0C0;
}

.rates_btn {
  padding: 18.5px 0 16.5px 0;
  width: 100%;
  background-color: #0063E5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #F9F9F9;
}

.rates_text {
  max-width: 234px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #C0C0C0;
}

.rates_text__span {
  color: #F9F9F9;
}

@media screen and (max-width: 450px) {
  .rates_title {
    font-size: 28px;
    line-height: 28px;
  }
  .rates_choice {
    font-size: 12px;
    line-height: 18px;
  }
  .rates_title__plan {
    font-size: 18px;
    line-height: 28px;
  }
  .rates_title__span {
    font-size: 14px;
    line-height: 24px;
  }
  .rates_content::before {
    margin-bottom: 16px;
  }
}
.format {
  padding: 80px 0;
}

.format_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.format_content {
  max-width: 548px;
  width: 100%;
}

.format_title {
  font-weight: 800;
  font-size: 38px;
  line-height: 50px;
  margin-bottom: 24px;
  color: #F9F9F9;
}

.format_item {
  max-width: 548px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #C0C0C0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.format_item:not(:last-child) {
  margin-bottom: 20px;
}
.format_item:first-child {
  margin-bottom: 35px;
}
.format_item::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #C0C0C0;
  border-radius: 50%;
  margin-top: 10px;
}

.format_text {
  max-width: 522px;
}

@media screen and (max-width: 1250px) {
  .format_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .format_img {
    margin-bottom: 24px;
  }
  .format_item,
  .format_text {
    width: 100%;
  }
  .format_title {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .format_title {
    font-size: 20px;
    line-height: 20px;
  }
  .format_text {
    font-size: 15px;
    line-height: 25px;
  }
}
.bundle {
  padding: 80px 0;
}

.bundle_block {
  background-image: url("../../img/bundle.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 104px 0 129px 0;
}

.bundle_content {
  max-width: 591px;
  margin-left: auto;
  padding: 0 20px;
}

.bundle_text {
  max-width: 541px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.2px;
  color: #F9F9F9;
  margin-bottom: 25px;
}

.bundle_btn {
  width: 100%;
  padding: 25px 0;
  background-color: #0063E5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  margin-bottom: 29px;
  color: #F9F9F9;
}

.bundle_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #F9F9F9;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .bundle_content {
    text-align: center;
  }
  .bundle_text {
    font-size: 18px;
    line-height: 28px;
  }
}
.device {
  padding: 77px 0 100px 0;
  text-align: center;
  color: #F9F9F9;
}

.device_title {
  font-weight: 800;
  font-size: 38px;
  line-height: 50px;
  margin-bottom: 22px;
}

.device_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.device_item {
  max-width: 302px;
  width: 100%;
}
.device_item::before {
  content: "";
  width: 100%;
  height: 151px;
  display: inline-block;
  background-image: url("../../img/device1.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 12px;
}
.device_item:nth-child(2)::before {
  background-image: url("../../img/device2.svg");
}
.device_item:nth-child(3)::before {
  background-image: url("../../img/device3.svg");
}
.device_item:nth-child(4)::before {
  background-image: url("../../img/device4.svg");
}

.device_inner__title {
  font-weight: 800;
  font-size: 27px;
  line-height: 38px;
  margin-bottom: 18px;
}

.device_inner__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.device_item:nth-child(1) .device_inner__list .device_inner__item:nth-child(10) {
  margin-bottom: 34px;
}

.device_item:nth-child(2) .device_inner__list .device_inner__item:nth-child(3) {
  margin-bottom: 230px;
}

.device_item:nth-child(3) .device_inner__list .device_inner__item:nth-child(3) {
  margin-bottom: 230px;
}

.device_item:nth-child(4) .device_inner__list .device_inner__item:nth-child(5) {
  margin-bottom: 174px;
}

@media screen and (max-width: 750px) {
  .device {
    padding: 72px 0;
  }
  .device_title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .device_inner__title {
    font-size: 18px;
    line-height: 26px;
  }
  .device_inner__item {
    font-size: 15px;
    line-height: 25px;
  }
}
.question {
  padding: 77px 0 80px 0;
  color: #F9F9F9;
}

.question_title {
  font-weight: 800;
  font-size: 38px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 22px;
}

.question_checkbox__box {
  max-width: 100%;
  background-color: #13151D;
  padding: 25px;
}

.question_label {
  max-width: 1280px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.question_label::after {
  content: "+";
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  display: block;
}

.question_checkbox__box:not(:last-child) {
  margin-bottom: 16px;
}

.question_checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.question_checkbox:checked ~ .question_label::after {
  content: "";
  width: 23px;
  height: 3px;
  background-color: #F9F9F9;
}

.question_checkbox:checked ~ .question_content {
  display: block;
}

.question_content {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: none;
  margin-top: 16px;
}

.footer {
  padding: 26px 0 49px 0;
}

.footer_logo {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.footer_list {
  max-width: 1008px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  row-gap: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 18px;
}

.footer_link {
  color: #C0C0C0;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.footer_item select {
  color: #C0C0C0;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
  background: transparent;
  border: none;
  outline: none;
}

.footer_map {
  margin-bottom: 24px;
}

.footer_map,
.footer_name {
  color: #C0C0C0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
}/*# sourceMappingURL=main.css.map */