html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

body {
  font-family: 'Avenir';
  margin: 0;
  padding: 0;
  background-color: $color1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;

}