.device {
  padding: 77px 0 100px 0;
  text-align: center;
  color: $color3;
}

.device_title {
  font-weight: 800;
  font-size: 38px;
  line-height: 50px;
  margin-bottom: 22px;
}

.device_list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.device_item {
  max-width: 302px;
  width: 100%;

  &::before {
    content: "";
    width: 100%;
    height: 151px;
    display: inline-block;
    background-image: url("../../img/device1.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 12px;
  }

  &:nth-child(2)::before {
    background-image: url("../../img/device2.svg");
  }

  &:nth-child(3)::before {
    background-image: url("../../img/device3.svg");
  }

  &:nth-child(4)::before {
    background-image: url("../../img/device4.svg");
  }
}

.device_inner__title {
  font-weight: 800;
  font-size: 27px;
  line-height: 38px;
  margin-bottom: 18px;
}

.device_inner__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: .2px;
}

.device_item:nth-child(1) .device_inner__list .device_inner__item:nth-child(10) {
  margin-bottom: 34px;
}

.device_item:nth-child(2) .device_inner__list .device_inner__item:nth-child(3) {
  margin-bottom: 230px;
}

.device_item:nth-child(3) .device_inner__list .device_inner__item:nth-child(3) {
  margin-bottom: 230px;
}

.device_item:nth-child(4) .device_inner__list .device_inner__item:nth-child(5) {
  margin-bottom: 174px;
}

@media screen and (max-width: 750px) {
  .device {
    padding: 72px 0;
  }

  .device_title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;
  }

  .device_inner__title {
    font-size: 18px;
    line-height: 26px;
  }

  .device_inner__item {
    font-size: 15px;
    line-height: 25px;
  }
}